package tabler
import "github.com/sebasvil20/templicons/i"

templ AlertSmallOff(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 16h.01" ></path>
  <path d="M12 7v1" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
