package tabler
import "github.com/sebasvil20/templicons/i"

templ AlignRight(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 6l16 0" ></path>
  <path d="M10 12l10 0" ></path>
  <path d="M6 18l14 0" ></path>
    }
}
