package tabler
import "github.com/sebasvil20/templicons/i"

templ AlignJustified(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 6l16 0" ></path>
  <path d="M4 12l16 0" ></path>
  <path d="M4 18l12 0" ></path>
    }
}
