package tabler
import "github.com/sebasvil20/templicons/i"

templ AlphabetKorean(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M7 7h6c0 2.5 -1.593 8.474 -6 10" ></path>
  <path d="M16 5v14z" ></path>
  <path d="M16 12h2" ></path>
    }
}
