package tabler
import "github.com/sebasvil20/templicons/i"

templ Angle(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M21 19h-18l9 -15" ></path>
  <path d="M20.615 15.171h.015" ></path>
  <path d="M19.515 11.771h.015" ></path>
  <path d="M17.715 8.671h.015" ></path>
  <path d="M15.415 5.971h.015" ></path>
    }
}
