package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowLeftDashed(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 12h6m3 0h1.5m3 0h.5" ></path>
  <path d="M5 12l6 6" ></path>
  <path d="M5 12l6 -6" ></path>
    }
}
