package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsDoubleNeSw(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 14l11 -11" ></path>
  <path d="M10 3h4v4" ></path>
  <path d="M10 17v4h4" ></path>
  <path d="M21 10l-11 11" ></path>
    }
}
