package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowNarrowDownDashed(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 5v.5m0 3v1.5m0 3v6" ></path>
  <path d="M16 15l-4 4" ></path>
  <path d="M8 15l4 4" ></path>
    }
}
