package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsVertical(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 7l4 -4l4 4" ></path>
  <path d="M8 17l4 4l4 -4" ></path>
  <path d="M12 3l0 18" ></path>
    }
}
