package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowMergeBoth(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M16 8l-4 -4l-4 4" ></path>
  <path d="M12 20v-16" ></path>
  <path d="M18 18c-4 -1.333 -6 -4.667 -6 -10" ></path>
  <path d="M6 18c4 -1.333 6 -4.667 6 -10" ></path>
    }
}
