package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowUpTail(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 18l0 -15" ></path>
  <path d="M15 6l-3 -3l-3 3" ></path>
  <path d="M15 21l-3 -3l-3 3" ></path>
    }
}
