package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowUpDashed(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 5v6m0 3v1.5m0 3v.5" ></path>
  <path d="M18 11l-6 -6" ></path>
  <path d="M6 11l6 -6" ></path>
    }
}
