package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowRoundaboutLeft(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M3 9h8a5 5 0 1 1 5 5v7" ></path>
  <path d="M7 5l-4 4l4 4" ></path>
    }
}
