package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsUpRight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M17 21l4 -4l-4 -4" ></path>
  <path d="M21 17h-11a3 3 0 0 1 -3 -3v-11" ></path>
  <path d="M11 7l-4 -4l-4 4" ></path>
    }
}
