package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowRightRhombus(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M8 12h13" ></path>
  <path d="M18 9l3 3l-3 3" ></path>
  <path d="M5.5 9.5l-2.5 2.5l2.5 2.5l2.5 -2.5z" ></path>
    }
}
