package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowLeftBar(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M21 12h-18" ></path>
  <path d="M6 9l-3 3l3 3" ></path>
  <path d="M21 9v6" ></path>
    }
}
