package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowDownBar(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 3v18" ></path>
  <path d="M9 18l3 3l3 -3" ></path>
  <path d="M9 3h6" ></path>
    }
}
