package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowIteration(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M8.5 16a5.5 5.5 0 1 0 -5.5 -5.5v.5" ></path>
  <path d="M3 16h18" ></path>
  <path d="M18 13l3 3l-3 3" ></path>
    }
}
