package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsDiagonalMinimize(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M6 10h4v-4" ></path>
  <path d="M4 4l6 6" ></path>
  <path d="M18 14h-4v4" ></path>
  <path d="M14 14l6 6" ></path>
    }
}
