package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowZigZag(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 20v-10l10 6v-12" ></path>
  <path d="M13 7l3 -3l3 3" ></path>
    }
}
