package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowDown(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 5l0 14" ></path>
  <path d="M18 13l-6 6" ></path>
  <path d="M6 13l6 6" ></path>
    }
}
