package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowForwardUpDouble(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M11 14l4 -4l-4 -4" ></path>
  <path d="M16 14l4 -4l-4 -4" ></path>
  <path d="M15 10h-7a4 4 0 1 0 0 8h1" ></path>
    }
}
