package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsRightLeft(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M21 7l-18 0" ></path>
  <path d="M18 10l3 -3l-3 -3" ></path>
  <path d="M6 20l-3 -3l3 -3" ></path>
  <path d="M3 17l18 0" ></path>
    }
}
