package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowRightFromArc(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M15 12h-12" ></path>
  <path d="M7 8l-4 4l4 4" ></path>
  <path d="M12 21a9 9 0 0 0 0 -18" ></path>
    }
}
