package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowUpRight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M17 7l-10 10" ></path>
  <path d="M8 7l9 0l0 9" ></path>
    }
}
