package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowBarBoth(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M8 12h-6" ></path>
  <path d="M5 15l-3 -3l3 -3" ></path>
  <path d="M22 12h-6" ></path>
  <path d="M19 15l3 -3l-3 -3" ></path>
  <path d="M12 4v16" ></path>
    }
}
