package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowRotaryStraight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M13 13m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" ></path>
  <path d="M13 16v5" ></path>
  <path d="M13 3v7" ></path>
  <path d="M9 7l4 -4l4 4" ></path>
    }
}
