package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowLoopRight(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 21v-13a4 4 0 1 0 -4 4h13" ></path>
  <path d="M17 16l4 -4l-4 -4" ></path>
    }
}
