package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowUpLeft(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 7l10 10" ></path>
  <path d="M16 7l-9 0l0 9" ></path>
    }
}
