package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowRight(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 12l14 0" ></path>
  <path d="M13 18l6 -6" ></path>
  <path d="M13 6l6 6" ></path>
    }
}
