package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowRightBar(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M18 15l3 -3l-3 -3" ></path>
  <path d="M3 12h18" ></path>
  <path d="M3 9v6" ></path>
    }
}
