package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowBearLeft2(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9 3h-5v5" ></path>
  <path d="M4 3l7.536 7.536a5 5 0 0 1 1.464 3.534v6.93" ></path>
  <path d="M20 5l-4.5 4.5" ></path>
    }
}
