package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowNarrowRightDashed(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 12h.5m3 0h1.5m3 0h6" ></path>
  <path d="M15 16l4 -4" ></path>
  <path d="M15 8l4 4" ></path>
    }
}
