package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsDoubleNwSe(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M14 21l-11 -11" ></path>
  <path d="M3 14v-4h4" ></path>
  <path d="M17 14h4v-4" ></path>
  <path d="M10 3l11 11" ></path>
    }
}
