package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowCapsule(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M18 15a6 6 0 1 1 -12 0v-6a6 6 0 1 1 12 0v2" ></path>
  <path d="M15 8l3 3l3 -3" ></path>
    }
}
