package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowMergeLeft(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 8l4 -4l4 4" ></path>
  <path d="M12 20v-16" ></path>
  <path d="M6 18c4 -1.333 6 -4.667 6 -10" ></path>
    }
}
