package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsCross(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M16 4h4v4" ></path>
  <path d="M15 9l5 -5" ></path>
  <path d="M4 20l5 -5" ></path>
  <path d="M16 20h4v-4" ></path>
  <path d="M4 4l16 16" ></path>
    }
}
