package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowLeftRhombus(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M16 12h-13" ></path>
  <path d="M6 9l-3 3l3 3" ></path>
  <path d="M18.5 9.5l2.5 2.5l-2.5 2.5l-2.5 -2.5z" ></path>
    }
}
