package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsDoubleSwNe(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M14 3l-11 11" ></path>
  <path d="M3 10v4h4" ></path>
  <path d="M17 10h4v4" ></path>
  <path d="M10 21l11 -11" ></path>
    }
}
