package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowRotaryLastLeft(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M15 15a3 3 0 1 1 0 -6a3 3 0 0 1 0 6z" ></path>
  <path d="M15 15v6" ></path>
  <path d="M12.5 9.5l-6.5 -6.5" ></path>
  <path d="M11 3h-5v5" ></path>
    }
}
