package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowBadgeLeft(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M11 17h6l-4 -5l4 -5h-6l-4 5z" ></path>
    }
}
