package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowBack(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" ></path>
    }
}
