package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowBarRight(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M20 12l-10 0" ></path>
  <path d="M20 12l-4 4" ></path>
  <path d="M20 12l-4 -4" ></path>
  <path d="M4 4l0 16" ></path>
    }
}
