package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowUpToArc(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 21v-12" ></path>
  <path d="M8 13l4 -4l4 4" ></path>
  <path d="M21 12a9 9 0 0 0 -18 0" ></path>
    }
}
