package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowBadgeDown(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M17 13v-6l-5 4l-5 -4v6l5 4z" ></path>
    }
}
