package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowsRight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M21 17l-18 0" ></path>
  <path d="M18 4l3 3l-3 3" ></path>
  <path d="M18 20l3 -3l-3 -3" ></path>
  <path d="M21 7l-18 0" ></path>
    }
}
