package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowForward(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M15 11l4 4l-4 4m4 -4h-11a4 4 0 0 1 0 -8h1" ></path>
    }
}
