package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowBarLeft(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 12l10 0" ></path>
  <path d="M4 12l4 4" ></path>
  <path d="M4 12l4 -4" ></path>
  <path d="M20 4l0 16" ></path>
    }
}
