package tabler
import "github.com/sebasvil20/templicons/i"

templ ArrowElbowLeft(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M3 14v-6h6" ></path>
  <path d="M3 8l9 9l9 -9" ></path>
    }
}
