package tabler
import "github.com/sebasvil20/templicons/i"

templ AsteriskSimple(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 12v-9" ></path>
  <path d="M12 12l-9 -2.5" ></path>
  <path d="M12 12l9 -2.5" ></path>
  <path d="M12 12l6 8.5" ></path>
  <path d="M12 12l-6 8.5" ></path>
    }
}
