package tabler
import "github.com/sebasvil20/templicons/i"

templ Badges(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M17 17v-4l-5 3l-5 -3v4l5 3z" ></path>
  <path d="M17 8v-4l-5 3l-5 -3v4l5 3z" ></path>
    }
}
