package tabler
import "github.com/sebasvil20/templicons/i"

templ Baseline(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 20h16" ></path>
  <path d="M8 16v-8a4 4 0 1 1 8 0v8" ></path>
  <path d="M8 10h8" ></path>
    }
}
