package tabler
import "github.com/sebasvil20/templicons/i"

templ BaselineDensityLarge(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 4h16" ></path>
  <path d="M4 20h16" ></path>
    }
}
