package tabler
import "github.com/sebasvil20/templicons/i"

templ BaselineDensityMedium(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 20h16" ></path>
  <path d="M4 12h16" ></path>
  <path d="M4 4h16" ></path>
    }
}
