package tabler
import "github.com/sebasvil20/templicons/i"

templ BatteryAutomotive(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" ></path>
  <path d="M6 5v-2" ></path>
  <path d="M18 3v2" ></path>
  <path d="M6.5 12h3" ></path>
  <path d="M14.5 12h3" ></path>
  <path d="M16 10.5v3" ></path>
    }
}
