package tabler
import "github.com/sebasvil20/templicons/i"

templ Bike(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" ></path>
  <path d="M19 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" ></path>
  <path d="M12 19l0 -4l-3 -3l5 -4l2 3l3 0" ></path>
  <path d="M17 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" ></path>
    }
}
