package tabler
import "github.com/sebasvil20/templicons/i"

templ Binary(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M11 10v-5h-1m8 14v-5h-1" ></path>
  <path d="M15 5m0 .5a.5 .5 0 0 1 .5 -.5h2a.5 .5 0 0 1 .5 .5v4a.5 .5 0 0 1 -.5 .5h-2a.5 .5 0 0 1 -.5 -.5z" ></path>
  <path d="M10 14m0 .5a.5 .5 0 0 1 .5 -.5h2a.5 .5 0 0 1 .5 .5v4a.5 .5 0 0 1 -.5 .5h-2a.5 .5 0 0 1 -.5 -.5z" ></path>
  <path d="M6 10h.01m-.01 9h.01" ></path>
    }
}
