package tabler
import "github.com/sebasvil20/templicons/i"

templ BluetoothX(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M7 8l10 8l-5 4v-16l1 .802m0 6.396l-6 4.802" ></path>
  <path d="M16 6l4 4" ></path>
  <path d="M20 6l-4 4" ></path>
    }
}
