package tabler
import "github.com/sebasvil20/templicons/i"

templ BluetoothConnected(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M7 8l10 8l-5 4l0 -16l5 4l-10 8" ></path>
  <path d="M4 12l1 0" ></path>
  <path d="M18 12l1 0" ></path>
    }
}
