package tabler
import "github.com/sebasvil20/templicons/i"

templ Book(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" ></path>
  <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" ></path>
  <path d="M3 6l0 13" ></path>
  <path d="M12 6l0 13" ></path>
  <path d="M21 6l0 13" ></path>
    }
}
