package tabler
import "github.com/sebasvil20/templicons/i"

templ Bookmarks(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M15 10v11l-5 -3l-5 3v-11a3 3 0 0 1 3 -3h4a3 3 0 0 1 3 3z" ></path>
  <path d="M11 3h5a3 3 0 0 1 3 3v11" ></path>
    }
}
