package tabler
import "github.com/sebasvil20/templicons/i"

templ BorderSides(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 8v8" ></path>
  <path d="M20 16v-8" ></path>
  <path d="M8 4h8" ></path>
  <path d="M8 20h8" ></path>
    }
}
