package tabler
import "github.com/sebasvil20/templicons/i"

templ BorderStyle2(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 18v.01" ></path>
  <path d="M8 18v.01" ></path>
  <path d="M12 18v.01" ></path>
  <path d="M16 18v.01" ></path>
  <path d="M20 18v.01" ></path>
  <path d="M18 12h2" ></path>
  <path d="M11 12h2" ></path>
  <path d="M4 12h2" ></path>
  <path d="M4 6h16" ></path>
    }
}
