package tabler
import "github.com/sebasvil20/templicons/i"

templ BorderCornerSquare(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 20v-15a1 1 0 0 1 1 -1h15" ></path>
    }
}
