package tabler
import "github.com/sebasvil20/templicons/i"

templ BoxAlignLeft(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M10.002 20.003v-16h-5a1 1 0 0 0 -1 1v14a1 1 0 0 0 1 1h5z" ></path>
  <path d="M15.002 20.003h-.01" ></path>
  <path d="M20.003 20.003h-.011" ></path>
  <path d="M20.003 15.002h-.011" ></path>
  <path d="M20.003 9.002h-.011" ></path>
  <path d="M20.003 4.002h-.011" ></path>
  <path d="M15.002 4.002h-.01" ></path>
    }
}
