package tabler
import "github.com/sebasvil20/templicons/i"

templ BoxAlignRight(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M13.998 20.003v-16h5a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-5z" ></path>
  <path d="M8.998 20.003h.01" ></path>
  <path d="M3.997 20.003h.011" ></path>
  <path d="M3.997 15.002h.011" ></path>
  <path d="M3.997 9.002h.011" ></path>
  <path d="M3.997 4.002h.011" ></path>
  <path d="M8.998 4.002h.01" ></path>
    }
}
