package tabler
import "github.com/sebasvil20/templicons/i"

templ BracketsContainEnd(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M14 4h4v16h-4" ></path>
  <path d="M5 16h.01" ></path>
  <path d="M9 16h.01" ></path>
  <path d="M13 16h.01" ></path>
    }
}
