package tabler
import "github.com/sebasvil20/templicons/i"

templ Brackets(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M8 4h-3v16h3" ></path>
  <path d="M16 4h3v16h-3" ></path>
    }
}
