package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandUnsplash(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 11h5v4h6v-4h5v9h-16zm5 -7h6v4h-6z" ></path>
    }
}
