package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandPolymer(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6.706 6l-3.706 6l3.706 6h1.059l8.47 -12h1.06l3.705 6l-3.706 6" ></path>
    }
}
