package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandMessenger(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" ></path>
  <path d="M8 13l3 -2l2 2l3 -2" ></path>
    }
}
