package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandMetabrainz(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 7v10l7 4v-18z" ></path>
  <path d="M21 7v10l-7 4v-18z" ></path>
    }
}
