package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandSuperhuman(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M16 12l4 3l-8 7l-8 -7l4 -3" ></path>
  <path d="M12 3l-8 6l8 6l8 -6z" ></path>
  <path d="M12 15h8" ></path>
    }
}
