package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandGravatar(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5.64 5.632a9 9 0 1 0 6.36 -2.632v7.714" ></path>
    }
}
