package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandNextjs(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M9 15v-6l7.745 10.65a9 9 0 1 1 2.255 -1.993" ></path>
  <path d="M15 12v-3" ></path>
    }
}
