package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandVercelFilled(props ...i.Props) {
    @i.FilledIcon("0 0 24 24", props...) {
        <path d="M11.143 3.486a1 1 0 0 1 1.714 0l9 15a1 1 0 0 1 -.857 1.514h-18a1 1 0 0 1 -.857 -1.514z" ></path>
    }
}
