package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandYoutube(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" ></path>
  <path d="M10 9l5 3l-5 3z" ></path>
    }
}
