package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandStrava(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M15 13l-5 -10l-5 10m6 0l4 8l4 -8" ></path>
    }
}
