package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandBing(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 3l4 1.5v12l6 -2.5l-2 -1l-1 -4l7 2.5v4.5l-10 5l-4 -2z" ></path>
    }
}
