package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandCSharp(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M10 9a3 3 0 0 0 -3 -3h-.5a3.5 3.5 0 0 0 -3.5 3.5v5a3.5 3.5 0 0 0 3.5 3.5h.5a3 3 0 0 0 3 -3" ></path>
  <path d="M16 7l-1 10" ></path>
  <path d="M20 7l-1 10" ></path>
  <path d="M14 10h7.5" ></path>
  <path d="M21 14h-7.5" ></path>
    }
}
