package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandCouchdb(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 12h12v-2a2 2 0 0 1 2 -2a2 2 0 0 0 -2 -2h-12a2 2 0 0 0 -2 2a2 2 0 0 1 2 2v2z" ></path>
  <path d="M6 15h12" ></path>
  <path d="M6 18h12" ></path>
  <path d="M21 11v7" ></path>
  <path d="M3 11v7" ></path>
    }
}
