package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandNetflix(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9 3l10 18h-4l-10 -18z" ></path>
  <path d="M5 3v18h4v-10.5" ></path>
  <path d="M19 21v-18h-4v10.5" ></path>
    }
}
