package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandGitlab(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M21 14l-9 7l-9 -7l3 -11l3 7h6l3 -7z" ></path>
    }
}
