package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandNextcloud(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" ></path>
  <path d="M4.5 12.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" ></path>
  <path d="M19.5 12.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" ></path>
    }
}
