package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandCraft(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M20 4h-8a8 8 0 1 0 0 16h8a8 8 0 0 0 -8 -8a8 8 0 0 0 8 -8" ></path>
  <path d="M4 12h8" ></path>
  <path d="M12 4v16" ></path>
    }
}
