package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandYandex(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M15 20v-16h-2a4 4 0 0 0 -4 4v1a4 4 0 0 0 4 4h2" ></path>
  <path d="M9 20l3 -7" ></path>
    }
}
