package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandAirtable(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 10v8l7 -3v-2.6z" ></path>
  <path d="M3 6l9 3l9 -3l-9 -3z" ></path>
  <path d="M14 12.3v8.7l7 -3v-8z" ></path>
    }
}
