package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandCodepen(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M3 15l9 6l9 -6l-9 -6l-9 6" ></path>
  <path d="M3 9l9 6l9 -6l-9 -6l-9 6" ></path>
  <path d="M3 9l0 6" ></path>
  <path d="M21 9l0 6" ></path>
  <path d="M12 3l0 6" ></path>
  <path d="M12 15l0 6" ></path>
    }
}
