package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandCpp(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M18 12h4" ></path>
  <path d="M20 10v4" ></path>
  <path d="M11 12h4" ></path>
  <path d="M13 10v4" ></path>
  <path d="M9 9a3 3 0 0 0 -3 -3h-.5a3.5 3.5 0 0 0 -3.5 3.5v5a3.5 3.5 0 0 0 3.5 3.5h.5a3 3 0 0 0 3 -3" ></path>
    }
}
