package tabler
import "github.com/sebasvil20/templicons/i"

templ BrandBackbone(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 20l14 -8l-14 -8z" ></path>
  <path d="M19 20l-14 -8l14 -8z" ></path>
    }
}
