package tabler
import "github.com/sebasvil20/templicons/i"

templ Briefcase2(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z" ></path>
  <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" ></path>
    }
}
