package tabler
import "github.com/sebasvil20/templicons/i"

templ BrowserShare(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 8h16" ></path>
  <path d="M12.5 20h-6.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v7" ></path>
  <path d="M8 4v4" ></path>
  <path d="M16 22l5 -5" ></path>
  <path d="M21 21.5v-4.5h-4.5" ></path>
    }
}
