package tabler
import "github.com/sebasvil20/templicons/i"

templ BrowserCheck(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z" ></path>
  <path d="M4 8h16" ></path>
  <path d="M8 4v4" ></path>
  <path d="M9.5 14.5l1.5 1.5l3 -3" ></path>
    }
}
