package tabler
import "github.com/sebasvil20/templicons/i"

templ BuildingArch(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 21l18 0" ></path>
  <path d="M4 21v-15a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v15" ></path>
  <path d="M9 21v-8a3 3 0 0 1 6 0v8" ></path>
    }
}
