package tabler
import "github.com/sebasvil20/templicons/i"

templ CalendarShare(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 21h-6a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6" ></path>
  <path d="M16 3v4" ></path>
  <path d="M8 3v4" ></path>
  <path d="M4 11h16" ></path>
  <path d="M16 22l5 -5" ></path>
  <path d="M21 21.5v-4.5h-4.5" ></path>
    }
}
