package tabler
import "github.com/sebasvil20/templicons/i"

templ CapsuleHorizontal(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 6m0 6a6 6 0 0 1 6 -6h6a6 6 0 0 1 6 6v0a6 6 0 0 1 -6 6h-6a6 6 0 0 1 -6 -6z" ></path>
    }
}
