package tabler
import "github.com/sebasvil20/templicons/i"

templ CaretLeftRight(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M14 18l6 -6l-6 -6v12" ></path>
  <path d="M10 18l-6 -6l6 -6v12" ></path>
    }
}
