package tabler
import "github.com/sebasvil20/templicons/i"

templ CellSignalOff(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M20 20h-15.269a.731 .731 0 0 1 -.517 -1.249l7.265 -7.264m2 -2l5.272 -5.272a.731 .731 0 0 1 1.249 .517v11.269" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
