package tabler
import "github.com/sebasvil20/templicons/i"

templ ChevronRightPipe(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M6 6l6 6l-6 6" ></path>
  <path d="M17 5v13" ></path>
    }
}
