package tabler
import "github.com/sebasvil20/templicons/i"

templ ChevronsUpRight(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9 7h8v8" ></path>
  <path d="M5 11h8v8" ></path>
    }
}
