package tabler
import "github.com/sebasvil20/templicons/i"

templ ChevronsUpLeft(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 15v-8h8" ></path>
  <path d="M11 19v-8h8" ></path>
    }
}
