package tabler
import "github.com/sebasvil20/templicons/i"

templ ChevronCompactRight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M11 4l3 8l-3 8" ></path>
    }
}
