package tabler
import "github.com/sebasvil20/templicons/i"

templ ChevronsLeft(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M11 7l-5 5l5 5" ></path>
  <path d="M17 7l-5 5l5 5" ></path>
    }
}
