package tabler
import "github.com/sebasvil20/templicons/i"

templ ChristmasTree(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 3l4 4l-2 1l4 4l-3 1l4 4h-14l4 -4l-3 -1l4 -4l-2 -1z" ></path>
  <path d="M14 17v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-3" ></path>
    }
}
