package tabler
import "github.com/sebasvil20/templicons/i"

templ CircleNumber0(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M10 10v4a2 2 0 1 0 4 0v-4a2 2 0 1 0 -4 0z" ></path>
    }
}
