package tabler
import "github.com/sebasvil20/templicons/i"

templ CircleChevronRight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M11 9l3 3l-3 3" ></path>
  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0z" ></path>
    }
}
