package tabler
import "github.com/sebasvil20/templicons/i"

templ CircleCaretRight(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M15 12l-4 -4v8z" ></path>
  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
    }
}
