package tabler
import "github.com/sebasvil20/templicons/i"

templ CircleCaretDown(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M12 15l-4 -4h8z" ></path>
    }
}
