package tabler
import "github.com/sebasvil20/templicons/i"

templ CirclePlus2(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M20.985 12.522a9 9 0 1 0 -8.475 8.464" ></path>
  <path d="M16 19h6" ></path>
  <path d="M19 16v6" ></path>
    }
}
