package tabler
import "github.com/sebasvil20/templicons/i"

templ CircuitCell(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M2 12h8" ></path>
  <path d="M14 12h8" ></path>
  <path d="M10 5v14" ></path>
  <path d="M14 9v6" ></path>
    }
}
