package tabler
import "github.com/sebasvil20/templicons/i"

templ CircleChevronDown(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M15 11l-3 3l-3 -3" ></path>
  <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18z" ></path>
    }
}
