package tabler
import "github.com/sebasvil20/templicons/i"

templ CircuitGroundDigital(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 13v-10" ></path>
  <path d="M12 21l-6 -8h12z" ></path>
    }
}
