package tabler
import "github.com/sebasvil20/templicons/i"

templ CircuitGround(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 13v-8" ></path>
  <path d="M4 13h16" ></path>
  <path d="M7 16h10" ></path>
  <path d="M10 19h4" ></path>
    }
}
