package tabler
import "github.com/sebasvil20/templicons/i"

templ CircuitVoltmeter(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 12m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" ></path>
  <path d="M5 12h-3" ></path>
  <path d="M19 12h3" ></path>
  <path d="M10 10l2 4l2 -4" ></path>
    }
}
