package tabler
import "github.com/sebasvil20/templicons/i"

templ CircleMinus2(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M20.475 15.029a9 9 0 1 0 -7.962 5.957" ></path>
  <path d="M16 19h6" ></path>
    }
}
