package tabler
import "github.com/sebasvil20/templicons/i"

templ ClockHour1(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M12 7v5" ></path>
  <path d="M12 12l2 -3" ></path>
    }
}
