package tabler
import "github.com/sebasvil20/templicons/i"

templ ClockPlay(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 7v5l2 2" ></path>
  <path d="M17 22l5 -3l-5 -3z" ></path>
  <path d="M13.017 20.943a9 9 0 1 1 7.831 -7.292" ></path>
    }
}
