package tabler
import "github.com/sebasvil20/templicons/i"

templ ClockStop(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M21 12a9 9 0 1 0 -9 9" ></path>
  <path d="M12 7v5l1 1" ></path>
  <path d="M16 16h6v6h-6z" ></path>
    }
}
