package tabler
import "github.com/sebasvil20/templicons/i"

templ ClockUp(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M20.983 12.548a9 9 0 1 0 -8.45 8.436" ></path>
  <path d="M19 22v-6" ></path>
  <path d="M22 19l-3 -3l-3 3" ></path>
  <path d="M12 7v5l2.5 2.5" ></path>
    }
}
