package tabler
import "github.com/sebasvil20/templicons/i"

templ CodeCircle(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M10 14l-2 -2l2 -2" ></path>
  <path d="M14 10l2 2l-2 2" ></path>
  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
    }
}
