package tabler
import "github.com/sebasvil20/templicons/i"

templ CoinRupee(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M15 8h-6h1a3 3 0 0 1 0 6h-1l3 3" ></path>
  <path d="M9 11h6" ></path>
    }
}
