package tabler
import "github.com/sebasvil20/templicons/i"

templ Columns(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 6l5.5 0" ></path>
  <path d="M4 10l5.5 0" ></path>
  <path d="M4 14l5.5 0" ></path>
  <path d="M4 18l5.5 0" ></path>
  <path d="M14.5 6l5.5 0" ></path>
  <path d="M14.5 10l5.5 0" ></path>
  <path d="M14.5 14l5.5 0" ></path>
  <path d="M14.5 18l5.5 0" ></path>
    }
}
