package tabler
import "github.com/sebasvil20/templicons/i"

templ Command(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 9a2 2 0 1 1 2 -2v10a2 2 0 1 1 -2 -2h10a2 2 0 1 1 -2 2v-10a2 2 0 1 1 2 2h-10" ></path>
    }
}
