package tabler
import "github.com/sebasvil20/templicons/i"

templ Components(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 12l3 3l3 -3l-3 -3z" ></path>
  <path d="M15 12l3 3l3 -3l-3 -3z" ></path>
  <path d="M9 6l3 3l3 -3l-3 -3z" ></path>
  <path d="M9 18l3 3l3 -3l-3 -3z" ></path>
    }
}
