package tabler
import "github.com/sebasvil20/templicons/i"

templ CongruentTo(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 13h14" ></path>
  <path d="M5 17h14" ></path>
  <path d="M5 7.686c2.333 -2.624 4.667 -1.856 7 .064s4.667 2.688 7 .064" ></path>
    }
}
