package tabler
import "github.com/sebasvil20/templicons/i"

templ CornerRightUpDouble(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 19h6a3 3 0 0 0 3 -3v-7" ></path>
  <path d="M10 13l4 -4l4 4m-8 -5l4 -4l4 4" ></path>
    }
}
