package tabler
import "github.com/sebasvil20/templicons/i"

templ CornerLeftDown(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M18 6h-6a3 3 0 0 0 -3 3v10l-4 -4m8 0l-4 4" ></path>
    }
}
