package tabler
import "github.com/sebasvil20/templicons/i"

templ CornerDownRightDouble(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 5v6a3 3 0 0 0 3 3h7" ></path>
  <path d="M10 10l4 4l-4 4m5 -8l4 4l-4 4" ></path>
    }
}
