package tabler
import "github.com/sebasvil20/templicons/i"

templ CornerDownRight(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 6v6a3 3 0 0 0 3 3h10l-4 -4m0 8l4 -4" ></path>
    }
}
