package tabler
import "github.com/sebasvil20/templicons/i"

templ Crop(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M8 5v10a1 1 0 0 0 1 1h10" ></path>
  <path d="M5 8h10a1 1 0 0 1 1 1v10" ></path>
    }
}
