package tabler
import "github.com/sebasvil20/templicons/i"

templ Curling(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 9m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v2a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" ></path>
  <path d="M4 14h16" ></path>
  <path d="M8 5h6a2 2 0 0 1 2 2v2" ></path>
    }
}
