package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyEuro(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M17.2 7a6 7 0 1 0 0 10" ></path>
  <path d="M13 10h-8m0 4h8" ></path>
    }
}
