package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyPeso(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 19v-14h3.5a4.5 4.5 0 1 1 0 9h-3.5" ></path>
  <path d="M18 8h-12" ></path>
  <path d="M18 11h-12" ></path>
    }
}
