package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyTugrik(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 6h10" ></path>
  <path d="M12 6v13" ></path>
  <path d="M8 17l8 -3" ></path>
  <path d="M16 10l-8 3" ></path>
    }
}
