package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyLira(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M10 5v15a7 7 0 0 0 7 -7" ></path>
  <path d="M6 15l8 -4" ></path>
  <path d="M14 7l-8 4" ></path>
    }
}
