package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyYen(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 19v-7l-5 -7m10 0l-5 7" ></path>
  <path d="M8 17l8 0" ></path>
  <path d="M8 13l8 0" ></path>
    }
}
