package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyFlorin(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M8 12h8" ></path>
  <path d="M7 19c1.213 0 2.31 -.723 2.788 -1.838l4.424 -10.324a3.033 3.033 0 0 1 2.788 -1.838" ></path>
    }
}
