package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyRufiyaa(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M20 16h.01" ></path>
  <path d="M4 16c9.5 -4 11.5 -8 14 -9" ></path>
  <path d="M12 8l5 3" ></path>
    }
}
