package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyTenge(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 5h12" ></path>
  <path d="M6 9h12" ></path>
  <path d="M12 9v10" ></path>
    }
}
