package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyEthereum(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M6 12l6 -9l6 9l-6 9z" ></path>
  <path d="M6 12l6 -3l6 3l-6 2z" ></path>
    }
}
