package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyDram(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 10a6 6 0 1 1 12 0v10" ></path>
  <path d="M12 16h8" ></path>
  <path d="M12 12h8" ></path>
    }
}
