package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyWon(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 6l3.245 11.358a.85 .85 0 0 0 1.624 .035l3.131 -9.393l3.131 9.393a.85 .85 0 0 0 1.624 -.035l3.245 -11.358" ></path>
  <path d="M21 10h-18" ></path>
  <path d="M21 14h-18" ></path>
    }
}
