package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyYuan(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 19v-7l-5 -7" ></path>
  <path d="M17 5l-5 7" ></path>
  <path d="M8 13h8" ></path>
    }
}
