package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyRubel(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 19v-14h6a3 3 0 0 1 0 6h-8" ></path>
  <path d="M14 15h-8" ></path>
    }
}
