package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyYenOff(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 19v-7m5 -7l-3.328 4.66" ></path>
  <path d="M8 17h8" ></path>
  <path d="M8 13h5" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
