package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyDollarSingapore(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M21 6h-4a3 3 0 0 0 0 6h1a3 3 0 0 1 0 6h-4" ></path>
  <path d="M10 6h-4a3 3 0 1 0 0 6h1a3 3 0 0 1 0 6h-4" ></path>
  <path d="M17 20v-2" ></path>
  <path d="M18 6v-2" ></path>
    }
}
