package tabler
import "github.com/sebasvil20/templicons/i"

templ CurrencyKip(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 12h12" ></path>
  <path d="M9 5v14" ></path>
  <path d="M16 19a7 7 0 0 0 -7 -7a7 7 0 0 0 7 -7" ></path>
    }
}
