package tabler
import "github.com/sebasvil20/templicons/i"

templ Database(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 6m-8 0a8 3 0 1 0 16 0a8 3 0 1 0 -16 0" ></path>
  <path d="M4 6v6a8 3 0 0 0 16 0v-6" ></path>
  <path d="M4 12v6a8 3 0 0 0 16 0v-6" ></path>
    }
}
