package tabler
import "github.com/sebasvil20/templicons/i"

templ DeviceWatchCode(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M11 18h-2a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3h6a3 3 0 0 1 3 3v4" ></path>
  <path d="M20 21l2 -2l-2 -2" ></path>
  <path d="M17 17l-2 2l2 2" ></path>
  <path d="M9 18v3h3" ></path>
  <path d="M9 6v-3h6v3" ></path>
    }
}
