package tabler
import "github.com/sebasvil20/templicons/i"

templ DeviceIpadHorizontalPause(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M13 20h-8a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7" ></path>
  <path d="M9 17h4" ></path>
  <path d="M17 17v5" ></path>
  <path d="M21 17v5" ></path>
    }
}
