package tabler
import "github.com/sebasvil20/templicons/i"

templ DeviceDesktopCheck(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 16h-8a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8" ></path>
  <path d="M15 19l2 2l4 -4" ></path>
  <path d="M7 20h4" ></path>
  <path d="M9 16v4" ></path>
    }
}
