package tabler
import "github.com/sebasvil20/templicons/i"

templ DeviceDesktopCode(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8" ></path>
  <path d="M7 20h4" ></path>
  <path d="M9 16v4" ></path>
  <path d="M20 21l2 -2l-2 -2" ></path>
  <path d="M17 17l-2 2l2 2" ></path>
    }
}
