package tabler
import "github.com/sebasvil20/templicons/i"

templ Divide(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <circle cx="12" cy="6" r="1" fill="currentColor" ></circle>
  <circle cx="12" cy="18" r="1" fill="currentColor" ></circle>
  <path d="M5 12l14 0" ></path>
    }
}
