package tabler
import "github.com/sebasvil20/templicons/i"

templ Equal(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 10h14" ></path>
  <path d="M5 14h14" ></path>
    }
}
