package tabler
import "github.com/sebasvil20/templicons/i"

templ ExclamationMarkOff(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 19v.01" ></path>
  <path d="M12 15v-3m0 -4v-3" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
