package tabler
import "github.com/sebasvil20/templicons/i"

templ ExclamationMark(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 19v.01" ></path>
  <path d="M12 15v-10" ></path>
    }
}
