package tabler
import "github.com/sebasvil20/templicons/i"

templ Exposure0(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 19a4 4 0 0 0 4 -4v-6a4 4 0 1 0 -8 0v6a4 4 0 0 0 4 4z" ></path>
    }
}
