package tabler
import "github.com/sebasvil20/templicons/i"

templ ExposureMinus1(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M3 12h6" ></path>
  <path d="M18 19v-14l-4 4" ></path>
    }
}
