package tabler
import "github.com/sebasvil20/templicons/i"

templ FilesOff(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M15 3v4a1 1 0 0 0 1 1h4" ></path>
  <path d="M17 17h-6a2 2 0 0 1 -2 -2v-6m0 -4a2 2 0 0 1 2 -2h4l5 5v7c0 .294 -.063 .572 -.177 .823" ></path>
  <path d="M16 17v2a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
