package tabler
import "github.com/sebasvil20/templicons/i"

templ Flag(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v9a5 5 0 0 1 -7 0a5 5 0 0 0 -7 0v-9z" ></path>
  <path d="M5 21v-7" ></path>
    }
}
