package tabler
import "github.com/sebasvil20/templicons/i"

templ Flare(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 3l3 6l6 3l-6 3l-3 6l-3 -6l-6 -3l6 -3z" ></path>
    }
}
