package tabler
import "github.com/sebasvil20/templicons/i"

templ Flask(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9 3l6 0" ></path>
  <path d="M10 9l4 0" ></path>
  <path d="M10 3v6l-4 11a.7 .7 0 0 0 .5 1h11a.7 .7 0 0 0 .5 -1l-4 -11v-6" ></path>
    }
}
