package tabler
import "github.com/sebasvil20/templicons/i"

templ FlipVertical(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 3l0 18" ></path>
  <path d="M16 7l0 10l5 0l-5 -10" ></path>
  <path d="M8 7l0 10l-5 0l5 -10" ></path>
    }
}
