package tabler
import "github.com/sebasvil20/templicons/i"

templ FlipHorizontal(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M3 12l18 0" ></path>
  <path d="M7 16l10 0l-10 5l0 -5" ></path>
  <path d="M7 8l10 0l-10 -5l0 5" ></path>
    }
}
