package tabler
import "github.com/sebasvil20/templicons/i"

templ GenderThird(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M11 12a5 5 0 1 0 10 0a5 5 0 0 0 -10 0z" ></path>
  <path d="M11 12h-3" ></path>
  <path d="M8 12l-5 -4v8z" ></path>
    }
}
