package tabler
import "github.com/sebasvil20/templicons/i"

templ GenderMale(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M10 14m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" ></path>
  <path d="M19 5l-5.4 5.4" ></path>
  <path d="M19 5h-5" ></path>
  <path d="M19 5v5" ></path>
    }
}
