package tabler
import "github.com/sebasvil20/templicons/i"

templ GridGoldenratio(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M3 10h18" ></path>
  <path d="M3 14h18" ></path>
  <path d="M10 3v18" ></path>
  <path d="M14 3v18" ></path>
    }
}
