package tabler
import "github.com/sebasvil20/templicons/i"

templ Hash(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 9l14 0" ></path>
  <path d="M5 15l14 0" ></path>
  <path d="M11 4l-4 16" ></path>
  <path d="M17 4l-4 16" ></path>
    }
}
