package tabler
import "github.com/sebasvil20/templicons/i"

templ HeartMinus(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M19.5 12.572l-2.494 2.47m-5.006 4.958l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" ></path>
  <path d="M16 19h6" ></path>
    }
}
