package tabler
import "github.com/sebasvil20/templicons/i"

templ Hemisphere(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 9m-9 0a9 3 0 1 0 18 0a9 3 0 1 0 -18 0" ></path>
  <path d="M3 9a9 9 0 0 0 18 0" ></path>
    }
}
