package tabler
import "github.com/sebasvil20/templicons/i"

templ HttpConnect(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 10a2 2 0 1 0 -4 0v4a2 2 0 1 0 4 0" ></path>
  <path d="M17 16v-8l4 8v-8" ></path>
  <path d="M12 8a2 2 0 0 1 2 2v4a2 2 0 1 1 -4 0v-4a2 2 0 0 1 2 -2" ></path>
    }
}
