package tabler
import "github.com/sebasvil20/templicons/i"

templ IceCream(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 21.5v-4.5" ></path>
  <path d="M8 17h8v-10a4 4 0 1 0 -8 0v10z" ></path>
  <path d="M8 10.5l8 -3.5" ></path>
  <path d="M8 14.5l8 -3.5" ></path>
    }
}
