package tabler
import "github.com/sebasvil20/templicons/i"

templ IndentIncrease(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M20 6l-11 0" ></path>
  <path d="M20 12l-7 0" ></path>
  <path d="M20 18l-11 0" ></path>
  <path d="M4 8l4 4l-4 4" ></path>
    }
}
