package tabler
import "github.com/sebasvil20/templicons/i"

templ InfoSmall(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 9h.01" ></path>
  <path d="M11 12h1v4h1" ></path>
    }
}
