package tabler
import "github.com/sebasvil20/templicons/i"

templ InnerShadowTopRight(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18z" ></path>
  <path d="M18 12a6 6 0 0 0 -6 -6" ></path>
    }
}
