package tabler
import "github.com/sebasvil20/templicons/i"

templ Italic(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M11 5l6 0" ></path>
  <path d="M7 19l6 0" ></path>
  <path d="M14 5l-4 14" ></path>
    }
}
