package tabler
import "github.com/sebasvil20/templicons/i"

templ JewishStar(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 2l3 5h6l-3 5l3 5h-6l-3 5l-3 -5h-6l3 -5l-3 -5h6z" ></path>
    }
}
