package tabler
import "github.com/sebasvil20/templicons/i"

templ LayersLinked(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M19 8.268a2 2 0 0 1 1 1.732v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-8a2 2 0 0 1 2 -2h3" ></path>
  <path d="M5 15.734a2 2 0 0 1 -1 -1.734v-8a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-3" ></path>
    }
}
