package tabler
import "github.com/sebasvil20/templicons/i"

templ LetterC(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M18 9a5 5 0 0 0 -5 -5h-2a5 5 0 0 0 -5 5v6a5 5 0 0 0 5 5h2a5 5 0 0 0 5 -5" ></path>
    }
}
