package tabler
import "github.com/sebasvil20/templicons/i"

templ LetterFSmall(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M10 12h3" ></path>
  <path d="M14 8h-4v8" ></path>
    }
}
