package tabler
import "github.com/sebasvil20/templicons/i"

templ LetterU(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M6 4v11a5 5 0 0 0 5 5h2a5 5 0 0 0 5 -5v-11" ></path>
    }
}
