package tabler
import "github.com/sebasvil20/templicons/i"

templ LetterT(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 4l12 0" ></path>
  <path d="M12 4l0 16" ></path>
    }
}
