package tabler
import "github.com/sebasvil20/templicons/i"

templ LetterSSmall(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M10 15a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-2a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1" ></path>
    }
}
