package tabler
import "github.com/sebasvil20/templicons/i"

templ Line(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" ></path>
  <path d="M18 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" ></path>
  <path d="M7.5 16.5l9 -9" ></path>
    }
}
