package tabler
import "github.com/sebasvil20/templicons/i"

templ LineHeight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M3 8l3 -3l3 3" ></path>
  <path d="M3 16l3 3l3 -3" ></path>
  <path d="M6 5l0 14" ></path>
  <path d="M13 6l7 0" ></path>
  <path d="M13 12l7 0" ></path>
  <path d="M13 18l7 0" ></path>
    }
}
