package tabler
import "github.com/sebasvil20/templicons/i"

templ ListCheck(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" ></path>
  <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" ></path>
  <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" ></path>
  <path d="M11 6l9 0" ></path>
  <path d="M11 12l9 0" ></path>
  <path d="M11 18l9 0" ></path>
    }
}
