package tabler
import "github.com/sebasvil20/templicons/i"

templ LogicAnd(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M22 12h-5" ></path>
  <path d="M2 9h5" ></path>
  <path d="M2 15h5" ></path>
  <path d="M9 5c6 0 8 3.5 8 7s-2 7 -8 7h-2v-14h2z" ></path>
    }
}
