package tabler
import "github.com/sebasvil20/templicons/i"

templ LogicXor(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M22 12h-4" ></path>
  <path d="M2 9h6" ></path>
  <path d="M2 15h6" ></path>
  <path d="M7 19c1.778 -4.667 1.778 -9.333 0 -14" ></path>
  <path d="M10 5c10.667 2.1 10.667 12.6 0 14c1.806 -4.667 1.806 -9.333 0 -14z" ></path>
    }
}
