package tabler
import "github.com/sebasvil20/templicons/i"

templ LogicBuffer(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M22 12h-5" ></path>
  <path d="M2 9h5" ></path>
  <path d="M2 15h5" ></path>
  <path d="M7 5l10 7l-10 7z" ></path>
    }
}
