package tabler
import "github.com/sebasvil20/templicons/i"

templ Logout(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" ></path>
  <path d="M9 12h12l-3 -3" ></path>
  <path d="M18 15l3 -3" ></path>
    }
}
