package tabler
import "github.com/sebasvil20/templicons/i"

templ MailCheck(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M11 19h-6a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v6" ></path>
  <path d="M3 7l9 6l9 -6" ></path>
  <path d="M15 19l2 2l4 -4" ></path>
    }
}
