package tabler
import "github.com/sebasvil20/templicons/i"

templ Map(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 7l6 -3l6 3l6 -3v13l-6 3l-6 -3l-6 3v-13" ></path>
  <path d="M9 4v13" ></path>
  <path d="M15 7v13" ></path>
    }
}
