package tabler
import "github.com/sebasvil20/templicons/i"

templ MapEast(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M14 9h-4v6h4" ></path>
  <path d="M10 12h2.5" ></path>
    }
}
