package tabler
import "github.com/sebasvil20/templicons/i"

templ MathXFloorDivideY(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M1.5 19l18 -18" ></path>
  <path d="M4.5 22l18 -18" ></path>
  <path d="M18 15l3 4" ></path>
  <path d="M23 15l-4.5 8" ></path>
  <path d="M1 1l6 6" ></path>
  <path d="M1 7l6 -6" ></path>
    }
}
