package tabler
import "github.com/sebasvil20/templicons/i"

templ MathEqualLower(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M19 18l-14 -4" ></path>
  <path d="M19 14l-14 -4l14 -4" ></path>
    }
}
