package tabler
import "github.com/sebasvil20/templicons/i"

templ MathEqualGreater(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 18l14 -4" ></path>
  <path d="M5 14l14 -4l-14 -4" ></path>
    }
}
