package tabler
import "github.com/sebasvil20/templicons/i"

templ MathXDivideY2(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 21l18 -18" ></path>
  <path d="M15 14l3 4.5" ></path>
  <path d="M21 14l-4.5 7" ></path>
  <path d="M3 4l6 6" ></path>
  <path d="M3 10l6 -6" ></path>
    }
}
