package tabler
import "github.com/sebasvil20/templicons/i"

templ MathXy(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M14 9l3 5.063" ></path>
  <path d="M4 9l6 6" ></path>
  <path d="M4 15l6 -6" ></path>
  <path d="M20 9l-4.8 9" ></path>
    }
}
