package tabler
import "github.com/sebasvil20/templicons/i"

templ MathYMinusY(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M2 9l3 5.063" ></path>
  <path d="M8 9l-4.8 9" ></path>
  <path d="M16 9l3 5.063" ></path>
  <path d="M22 9l-4.8 9" ></path>
  <path d="M10 12h4" ></path>
    }
}
