package tabler
import "github.com/sebasvil20/templicons/i"

templ MedicineSyrup(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 21h8a1 1 0 0 0 1 -1v-10a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v10a1 1 0 0 0 1 1z" ></path>
  <path d="M10 14h4" ></path>
  <path d="M12 12v4" ></path>
  <path d="M10 7v-3a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3" ></path>
    }
}
