package tabler
import "github.com/sebasvil20/templicons/i"

templ Menorah(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 4v16" ></path>
  <path d="M8 4v2a4 4 0 1 0 8 0v-2" ></path>
  <path d="M4 4v2a8 8 0 1 0 16 0v-2" ></path>
  <path d="M10 20h4" ></path>
    }
}
