package tabler
import "github.com/sebasvil20/templicons/i"

templ MenuDeep(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 6h16" ></path>
  <path d="M7 12h13" ></path>
  <path d="M10 18h10" ></path>
    }
}
