package tabler
import "github.com/sebasvil20/templicons/i"

templ Menu2(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 6l16 0" ></path>
  <path d="M4 12l16 0" ></path>
  <path d="M4 18l16 0" ></path>
    }
}
