package tabler
import "github.com/sebasvil20/templicons/i"

templ MoodUnamused(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M11 16l4 -1.5" ></path>
  <path d="M10 10c-.5 -1 -2.5 -1 -3 0" ></path>
  <path d="M17 10c-.5 -1 -2.5 -1 -3 0" ></path>
    }
}
