package tabler
import "github.com/sebasvil20/templicons/i"

templ MoodCrazyHappy(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M7 8.5l3 3" ></path>
  <path d="M7 11.5l3 -3" ></path>
  <path d="M14 8.5l3 3" ></path>
  <path d="M14 11.5l3 -3" ></path>
  <path d="M9.5 15a3.5 3.5 0 0 0 5 0" ></path>
    }
}
