package tabler
import "github.com/sebasvil20/templicons/i"

templ Moon2(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M16.418 4.157a8 8 0 0 0 0 15.686" ></path>
  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
    }
}
