package tabler
import "github.com/sebasvil20/templicons/i"

templ Mouse(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 3m0 4a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-4a4 4 0 0 1 -4 -4z" ></path>
  <path d="M12 7l0 4" ></path>
    }
}
