package tabler
import "github.com/sebasvil20/templicons/i"

templ Multiplier1x(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9 16v-8l-2 2" ></path>
  <path d="M13 16l4 -4" ></path>
  <path d="M17 16l-4 -4" ></path>
    }
}
