package tabler
import "github.com/sebasvil20/templicons/i"

templ MusicCheck(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" ></path>
  <path d="M9 17v-13h10v9.5" ></path>
  <path d="M9 8h10" ></path>
  <path d="M15 19l2 2l4 -4" ></path>
    }
}
