package tabler
import "github.com/sebasvil20/templicons/i"

templ NavigationEast(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M14 3h-4v6h4" ></path>
  <path d="M10 6h2.5" ></path>
  <path d="M16 21l-4 -8l-4 8l4 -2z" ></path>
    }
}
