package tabler
import "github.com/sebasvil20/templicons/i"

templ NavigationWest(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M9 3l1 6l2 -3.75l2 3.75l1 -6" ></path>
  <path d="M16 21l-4 -8l-4 8l4 -2z" ></path>
    }
}
