package tabler
import "github.com/sebasvil20/templicons/i"

templ Number71Small(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M15 8h1v8" ></path>
  <path d="M7 8h4l-2 8" ></path>
    }
}
