package tabler
import "github.com/sebasvil20/templicons/i"

templ Number(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 17v-10l7 10v-10" ></path>
  <path d="M15 17h5" ></path>
  <path d="M17.5 10m-2.5 0a2.5 3 0 1 0 5 0a2.5 3 0 1 0 -5 0" ></path>
    }
}
