package tabler
import "github.com/sebasvil20/templicons/i"

templ Number76Small(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M18 9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-3" ></path>
  <path d="M6 8h4l-2 8" ></path>
    }
}
