package tabler
import "github.com/sebasvil20/templicons/i"

templ Number3(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 12a4 4 0 1 0 -4 -4" ></path>
  <path d="M8 16a4 4 0 1 0 4 -4" ></path>
    }
}
