package tabler
import "github.com/sebasvil20/templicons/i"

templ Number11(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 20v-16l-5 5" ></path>
  <path d="M18 20v-16l-5 5" ></path>
    }
}
