package tabler
import "github.com/sebasvil20/templicons/i"

templ Number48Small(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M16 12h-1a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1zh-1a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1" ></path>
  <path d="M6 8v3a1 1 0 0 0 1 1h3" ></path>
  <path d="M10 8v8" ></path>
    }
}
