package tabler
import "github.com/sebasvil20/templicons/i"

templ Omega(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 19h5v-1a7.35 7.35 0 1 1 6 0v1h5" ></path>
    }
}
