package tabler
import "github.com/sebasvil20/templicons/i"

templ Password(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 10v4" ></path>
  <path d="M10 13l4 -2" ></path>
  <path d="M10 11l4 2" ></path>
  <path d="M5 10v4" ></path>
  <path d="M3 13l4 -2" ></path>
  <path d="M3 11l4 2" ></path>
  <path d="M19 10v4" ></path>
  <path d="M17 13l4 -2" ></path>
  <path d="M17 11l4 2" ></path>
    }
}
