package tabler
import "github.com/sebasvil20/templicons/i"

templ PennantOff(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 21h4" ></path>
  <path d="M10 21v-11m0 -4v-3" ></path>
  <path d="M10 4l9 4l-4.858 2.16m-2.764 1.227l-1.378 .613" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
