package tabler
import "github.com/sebasvil20/templicons/i"

templ Pennant(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M8 21l4 0" ></path>
  <path d="M10 21l0 -18" ></path>
  <path d="M10 4l9 4l-9 4" ></path>
    }
}
