package tabler
import "github.com/sebasvil20/templicons/i"

templ PicnicTable(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M16 7l2 9m-10 -9l-2 9m-1 -9h14m2 5h-18" ></path>
    }
}
