package tabler
import "github.com/sebasvil20/templicons/i"

templ PlayerEject(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 12h14l-7 -8z" ></path>
  <path d="M5 16m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z" ></path>
    }
}
