package tabler
import "github.com/sebasvil20/templicons/i"

templ PlayerSkipBack(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M20 5v14l-12 -7z" ></path>
  <path d="M4 5l0 14" ></path>
    }
}
