package tabler
import "github.com/sebasvil20/templicons/i"

templ PlayerTrackNext(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 5v14l8 -7z" ></path>
  <path d="M14 5v14l8 -7z" ></path>
    }
}
