package tabler
import "github.com/sebasvil20/templicons/i"

templ PlayerTrackPrev(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M21 5v14l-8 -7z" ></path>
  <path d="M10 5v14l-8 -7z" ></path>
    }
}
