package tabler
import "github.com/sebasvil20/templicons/i"

templ PlaylistAdd(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M19 8h-14" ></path>
  <path d="M5 12h9" ></path>
  <path d="M11 16h-6" ></path>
  <path d="M15 16h6" ></path>
  <path d="M18 13v6" ></path>
    }
}
