package tabler
import "github.com/sebasvil20/templicons/i"

templ Plus(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 5l0 14" ></path>
  <path d="M5 12l14 0" ></path>
    }
}
