package tabler
import "github.com/sebasvil20/templicons/i"

templ PlusMinus(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 7h6" ></path>
  <path d="M7 4v6" ></path>
  <path d="M20 18h-6" ></path>
  <path d="M5 19l14 -14" ></path>
    }
}
