package tabler
import "github.com/sebasvil20/templicons/i"

templ PointFilled(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" ></path>
    }
}
