package tabler
import "github.com/sebasvil20/templicons/i"

templ Prescription(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M6 19v-16h4.5a4.5 4.5 0 1 1 0 9h-4.5" ></path>
  <path d="M19 21l-9 -9" ></path>
  <path d="M13 21l6 -6" ></path>
    }
}
