package tabler
import "github.com/sebasvil20/templicons/i"

templ Prompt(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 7l5 5l-5 5" ></path>
  <path d="M13 17l6 0" ></path>
    }
}
