package tabler
import "github.com/sebasvil20/templicons/i"

templ RadiusTopLeft(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M5 19v-6a8 8 0 0 1 8 -8h6" ></path>
    }
}
