package tabler
import "github.com/sebasvil20/templicons/i"

templ RadiusBottomRight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M19 5v6a8 8 0 0 1 -8 8h-6" ></path>
    }
}
