package tabler
import "github.com/sebasvil20/templicons/i"

templ Rating18Plus(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M11.5 10.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0" ></path>
  <path d="M11.5 13.5m-1.5 0a1.5 1.5 0 1 0 3 0a1.5 1.5 0 1 0 -3 0" ></path>
  <path d="M7 15v-6" ></path>
  <path d="M15.5 12h3" ></path>
  <path d="M17 10.5v3" ></path>
    }
}
