package tabler
import "github.com/sebasvil20/templicons/i"

templ Rating14Plus(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M7 15v-6" ></path>
  <path d="M15.5 12h3" ></path>
  <path d="M17 10.5v3" ></path>
  <path d="M12.5 15v-6m-2.5 0v4h3" ></path>
    }
}
