package tabler
import "github.com/sebasvil20/templicons/i"

templ RazorElectric(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M8 3v2" ></path>
  <path d="M12 3v2" ></path>
  <path d="M16 3v2" ></path>
  <path d="M9 12v6a3 3 0 0 0 6 0v-6h-6z" ></path>
  <path d="M8 5h8l-1 4h-6z" ></path>
  <path d="M12 17v1" ></path>
    }
}
