package tabler
import "github.com/sebasvil20/templicons/i"

templ RecordMailOff(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" ></path>
  <path d="M18.569 14.557a3 3 0 1 0 -4.113 -4.149" ></path>
  <path d="M7 15h8" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
