package tabler
import "github.com/sebasvil20/templicons/i"

templ RectangleRoundedBottom(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9 18h6a6 6 0 0 0 6 -6v-5a1 1 0 0 0 -1 -1h-16a1 1 0 0 0 -1 1v5a6 6 0 0 0 6 6z" ></path>
    }
}
