package tabler
import "github.com/sebasvil20/templicons/i"

templ RefreshAlert(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" ></path>
  <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" ></path>
  <path d="M12 9l0 3" ></path>
  <path d="M12 15l.01 0" ></path>
    }
}
