package tabler
import "github.com/sebasvil20/templicons/i"

templ RotateClockwise(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5" ></path>
    }
}
