package tabler
import "github.com/sebasvil20/templicons/i"

templ RowInsertBottom(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M20 6v4a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1z" ></path>
  <path d="M12 15l0 4" ></path>
  <path d="M14 17l-4 0" ></path>
    }
}
