package tabler
import "github.com/sebasvil20/templicons/i"

templ RowInsertTop(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 18v-4a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z" ></path>
  <path d="M12 9v-4" ></path>
  <path d="M10 7l4 0" ></path>
    }
}
