package tabler
import "github.com/sebasvil20/templicons/i"

templ Rss(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" ></path>
  <path d="M4 4a16 16 0 0 1 16 16" ></path>
  <path d="M4 11a9 9 0 0 1 9 9" ></path>
    }
}
