package tabler
import "github.com/sebasvil20/templicons/i"

templ Ruler2(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M17 3l4 4l-14 14l-4 -4z" ></path>
  <path d="M16 7l-1.5 -1.5" ></path>
  <path d="M13 10l-1.5 -1.5" ></path>
  <path d="M10 13l-1.5 -1.5" ></path>
  <path d="M7 16l-1.5 -1.5" ></path>
    }
}
