package tabler
import "github.com/sebasvil20/templicons/i"

templ School(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" ></path>
  <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" ></path>
    }
}
