package tabler
import "github.com/sebasvil20/templicons/i"

templ Scissors(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M6 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" ></path>
  <path d="M6 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" ></path>
  <path d="M8.6 8.6l10.4 10.4" ></path>
  <path d="M8.6 15.4l10.4 -10.4" ></path>
    }
}
