package tabler
import "github.com/sebasvil20/templicons/i"

templ SearchOff(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5.039 5.062a7 7 0 0 0 9.91 9.89m1.584 -2.434a7 7 0 0 0 -9.038 -9.057" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
