package tabler
import "github.com/sebasvil20/templicons/i"

templ SectionSign(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9.172 19a3 3 0 1 0 2.828 -4" ></path>
  <path d="M14.83 5a3 3 0 1 0 -2.83 4" ></path>
  <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" ></path>
    }
}
