package tabler
import "github.com/sebasvil20/templicons/i"

templ SeparatorVertical(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 4l0 16" ></path>
  <path d="M8 8l-4 4l4 4" ></path>
  <path d="M16 16l4 -4l-4 -4" ></path>
    }
}
