package tabler
import "github.com/sebasvil20/templicons/i"

templ Shareplay(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M18 18a3 3 0 0 0 3 -3v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8a3 3 0 0 0 3 3" ></path>
  <path d="M9 20h6l-3 -5z" ></path>
    }
}
