package tabler
import "github.com/sebasvil20/templicons/i"

templ Shield(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" ></path>
    }
}
