package tabler
import "github.com/sebasvil20/templicons/i"

templ ShieldExclamation(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M15.04 19.745c-.942 .551 -1.964 .976 -3.04 1.255a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3a12 12 0 0 0 8.5 3a12 12 0 0 1 .195 6.015" ></path>
  <path d="M19 16v3" ></path>
  <path d="M19 22v.01" ></path>
    }
}
