package tabler
import "github.com/sebasvil20/templicons/i"

templ SignRight(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 21h4" ></path>
  <path d="M10 21v-10" ></path>
  <path d="M10 6v-3" ></path>
  <path d="M6 6h10l2 2.5l-2 2.5h-10z" ></path>
    }
}
