package tabler
import "github.com/sebasvil20/templicons/i"

templ SignalHPlus(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 16v-8" ></path>
  <path d="M11 8v8" ></path>
  <path d="M7 12h4" ></path>
  <path d="M14 12h4" ></path>
  <path d="M16 10v4" ></path>
    }
}
