package tabler
import "github.com/sebasvil20/templicons/i"

templ SignLeft(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M16 21h-4" ></path>
  <path d="M14 21v-10" ></path>
  <path d="M14 6v-3" ></path>
  <path d="M18 6h-10l-2 2.5l2 2.5h10z" ></path>
    }
}
