package tabler
import "github.com/sebasvil20/templicons/i"

templ Slashes(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M14 5l-10 14" ></path>
  <path d="M20 5l-10 14" ></path>
    }
}
