package tabler
import "github.com/sebasvil20/templicons/i"

templ Slice(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 19l15 -15l3 3l-6 6l2 2a14 14 0 0 1 -14 4" ></path>
    }
}
