package tabler
import "github.com/sebasvil20/templicons/i"

templ SpaceOff(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 10v3a1 1 0 0 0 1 1h9m4 0h1a1 1 0 0 0 1 -1v-3" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
