package tabler
import "github.com/sebasvil20/templicons/i"

templ StackBackward(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M14 12l6 -3l-8 -4l-8 4l6 3" ></path>
  <path d="M10 12l-6 3l8 4l8 -4l-6 -3l-2 1z" fill="currentColor" ></path>
    }
}
