package tabler
import "github.com/sebasvil20/templicons/i"

templ StackMiddle(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M16 10l4 -2l-8 -4l-8 4l4 2" ></path>
  <path d="M12 12l-4 -2l-4 2l8 4l8 -4l-4 -2l-4 2z" fill="currentColor" ></path>
  <path d="M8 14l-4 2l8 4l8 -4l-4 -2" ></path>
    }
}
