package tabler
import "github.com/sebasvil20/templicons/i"

templ StackForward(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 5l-8 4l8 4l8 -4l-8 -4" fill="currentColor" ></path>
  <path d="M10 12l-6 3l8 4l8 -4l-6 -3" ></path>
    }
}
