package tabler
import "github.com/sebasvil20/templicons/i"

templ Stack3(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 2l-8 4l8 4l8 -4l-8 -4" ></path>
  <path d="M4 10l8 4l8 -4" ></path>
  <path d="M4 18l8 4l8 -4" ></path>
  <path d="M4 14l8 4l8 -4" ></path>
    }
}
