package tabler
import "github.com/sebasvil20/templicons/i"

templ Stack(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 6l-8 4l8 4l8 -4l-8 -4" ></path>
  <path d="M4 14l8 4l8 -4" ></path>
    }
}
