package tabler
import "github.com/sebasvil20/templicons/i"

templ StairsUp(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M22 6h-5v5h-5v5h-5v5h-5" ></path>
  <path d="M6 10v-7" ></path>
  <path d="M3 6l3 -3l3 3" ></path>
    }
}
