package tabler
import "github.com/sebasvil20/templicons/i"

templ Stopwatch(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 13a7 7 0 1 0 14 0a7 7 0 0 0 -14 0z" ></path>
  <path d="M14.5 10.5l-2.5 2.5" ></path>
  <path d="M17 8l1 -1" ></path>
  <path d="M14 3h-4" ></path>
    }
}
