package tabler
import "github.com/sebasvil20/templicons/i"

templ Sum(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M18 16v2a1 1 0 0 1 -1 1h-11l6 -7l-6 -7h11a1 1 0 0 1 1 1v2" ></path>
    }
}
