package tabler
import "github.com/sebasvil20/templicons/i"

templ SumOff(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M18 18a1 1 0 0 1 -1 1h-11l6 -7m-3 -7h8a1 1 0 0 1 1 1v2" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
