package tabler
import "github.com/sebasvil20/templicons/i"

templ Sunglasses(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M8 4h-2l-3 10" ></path>
  <path d="M16 4h2l3 10" ></path>
  <path d="M10 16h4" ></path>
  <path d="M21 16.5a3.5 3.5 0 0 1 -7 0v-2.5h7v2.5" ></path>
  <path d="M10 16.5a3.5 3.5 0 0 1 -7 0v-2.5h7v2.5" ></path>
  <path d="M4 14l4.5 4.5" ></path>
  <path d="M15 14l4.5 4.5" ></path>
    }
}
