package tabler
import "github.com/sebasvil20/templicons/i"

templ SwipeRight(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 12a4 4 0 1 1 8 0a4 4 0 0 1 -8 0z" ></path>
  <path d="M12 12h8" ></path>
  <path d="M17 15l3 -3l-3 -3" ></path>
    }
}
