package tabler
import "github.com/sebasvil20/templicons/i"

templ Switch(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M15 4l4 0l0 4" ></path>
  <path d="M14.75 9.25l4.25 -5.25" ></path>
  <path d="M5 19l4 -4" ></path>
  <path d="M15 19l4 0l0 -4" ></path>
  <path d="M5 5l14 14" ></path>
    }
}
