package tabler
import "github.com/sebasvil20/templicons/i"

templ SwitchHorizontal(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M16 3l4 4l-4 4" ></path>
  <path d="M10 7l10 0" ></path>
  <path d="M8 13l-4 4l4 4" ></path>
  <path d="M4 17l9 0" ></path>
    }
}
