package tabler
import "github.com/sebasvil20/templicons/i"

templ Tallymarks(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M6 5l0 14" ></path>
  <path d="M10 5l0 14" ></path>
  <path d="M14 5l0 14" ></path>
  <path d="M18 5l0 14" ></path>
  <path d="M3 17l18 -10" ></path>
    }
}
