package tabler
import "github.com/sebasvil20/templicons/i"

templ TestPipe2(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M15 3v15a3 3 0 0 1 -6 0v-15" ></path>
  <path d="M9 12h6" ></path>
  <path d="M8 3h8" ></path>
    }
}
