package tabler
import "github.com/sebasvil20/templicons/i"

templ TextDecrease(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 19v-10.5a3.5 3.5 0 1 1 7 0v10.5" ></path>
  <path d="M4 13h7" ></path>
  <path d="M21 12h-6" ></path>
    }
}
