package tabler
import "github.com/sebasvil20/templicons/i"

templ TextWrapColumn(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 9h7a3 3 0 0 1 0 6h-4l2 -2" ></path>
  <path d="M12 17l-2 -2" ></path>
  <path d="M3 3v18" ></path>
  <path d="M21 3v18" ></path>
    }
}
