package tabler
import "github.com/sebasvil20/templicons/i"

templ Tornado(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M21 4l-18 0" ></path>
  <path d="M13 16l-6 0" ></path>
  <path d="M11 20l4 0" ></path>
  <path d="M6 8l14 0" ></path>
  <path d="M4 12l12 0" ></path>
    }
}
