package tabler
import "github.com/sebasvil20/templicons/i"

templ TransferVertical(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M10 4v16l-6 -5.5" ></path>
  <path d="M14 20v-16l6 5.5" ></path>
    }
}
