package tabler
import "github.com/sebasvil20/templicons/i"

templ TrendingDown2(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M3 6h5l7 10h6" ></path>
  <path d="M18 19l3 -3l-3 -3" ></path>
    }
}
