package tabler
import "github.com/sebasvil20/templicons/i"

templ TrianglePlus2(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M18.69 12.027l-5.054 -8.437a1.914 1.914 0 0 0 -3.274 0l-8.105 13.535a1.914 1.914 0 0 0 1.636 2.871h8.107" ></path>
  <path d="M16 19h6" ></path>
  <path d="M19 16v6" ></path>
    }
}
