package tabler
import "github.com/sebasvil20/templicons/i"

templ UmbrellaClosed(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M9 16l3 -13l3 13z" ></path>
  <path d="M12 16v3c0 2.667 4 2.667 4 0" ></path>
    }
}
