package tabler
import "github.com/sebasvil20/templicons/i"

templ Upload(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" ></path>
  <path d="M7 9l5 -5l5 5" ></path>
  <path d="M12 4l0 12" ></path>
    }
}
