package tabler
import "github.com/sebasvil20/templicons/i"

templ UTurnLeft(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M17 20v-11.5a4.5 4.5 0 1 0 -9 0v8.5" ></path>
  <path d="M11 14l-3 3l-3 -3" ></path>
    }
}
