package tabler
import "github.com/sebasvil20/templicons/i"

templ UTurnRight(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M7 20v-11.5a4.5 4.5 0 0 1 9 0v8.5" ></path>
  <path d="M13 14l3 3l3 -3" ></path>
    }
}
