package tabler
import "github.com/sebasvil20/templicons/i"

templ Vinyl(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M16 3.937a9 9 0 1 0 5 8.063" ></path>
  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" ></path>
  <path d="M20 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" ></path>
  <path d="M20 4l-3.5 10l-2.5 2" ></path>
    }
}
