package tabler
import "github.com/sebasvil20/templicons/i"

templ WashDryF(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M10 16v-8h4" ></path>
  <path d="M13 12h-3" ></path>
    }
}
