package tabler
import "github.com/sebasvil20/templicons/i"

templ Wifi1(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 18l.01 0" ></path>
  <path d="M9.172 15.172a4 4 0 0 1 5.656 0" ></path>
    }
}
