package tabler
import "github.com/sebasvil20/templicons/i"

templ WorldLatitude(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" ></path>
  <path d="M4.6 7l14.8 0" ></path>
  <path d="M3 12l18 0" ></path>
  <path d="M4.6 17l14.8 0" ></path>
    }
}
