package tabler
import "github.com/sebasvil20/templicons/i"

templ XboxY(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M12 21a9 9 0 0 0 9 -9a9 9 0 0 0 -9 -9a9 9 0 0 0 -9 9a9 9 0 0 0 9 9z" ></path>
  <path d="M9 8l3 4" ></path>
  <path d="M15 8l-2.988 3.984l-.012 4.016" ></path>
    }
}
