package tabler
import "github.com/sebasvil20/templicons/i"

templ ZodiacPisces(props ...Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M5 3a21 21 0 0 1 0 18" ></path>
  <path d="M19 3a21 21 0 0 0 0 18" ></path>
  <path d="M5 12l14 0" ></path>
    }
}
