package tabler
import "github.com/sebasvil20/templicons/i"

templ ZodiacAquarius(props ...i.Props) {
    @i.Icon("0 0 24 24", props...) {
        <path d="M3 10l3 -3l3 3l3 -3l3 3l3 -3l3 3" ></path>
  <path d="M3 17l3 -3l3 3l3 -3l3 3l3 -3l3 3" ></path>
    }
}
