package tabler
import "github.com/sebasvil20/templicons/i"

templ ZodiacLibra(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M5 20l14 0" ></path>
  <path d="M5 17h5v-.3a7 7 0 1 1 4 0v.3h5" ></path>
    }
}
