package tabler
import "github.com/sebasvil20/templicons/i"

templ ZoomOut(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" ></path>
  <path d="M7 10l6 0" ></path>
  <path d="M21 21l-6 -6" ></path>
    }
}
