package tabler
import "github.com/sebasvil20/templicons/i"

templ ZoomPan(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" ></path>
  <path d="M17 17l-2.5 -2.5" ></path>
  <path d="M10 4l2 -2l2 2" ></path>
  <path d="M20 10l2 2l-2 2" ></path>
  <path d="M4 10l-2 2l2 2" ></path>
  <path d="M10 20l2 2l2 -2" ></path>
    }
}
