package tabler
import "github.com/sebasvil20/templicons/i"

templ ZzzOff(props ...i.Props) {
    @i.OutlinedIcon("0 0 24 24", props...) {
        <path d="M4 12h6l-6 8h6" ></path>
  <path d="M14 4h6l-5.146 6.862m1.146 1.138h4" ></path>
  <path d="M3 3l18 18" ></path>
    }
}
