package flags
import "github.com/sebasvil20/templicons/i"

templ Armenia(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#102f9b" d="M0 8h30v8H0z"></path>
  <path fill="#c82a20" d="M30 8H0V0h30z"></path>
  <path fill="#e8ad3b" d="M30 24H0v-8h30z"></path>
    }
}
