package flags
import "github.com/sebasvil20/templicons/i"

templ Bahamas(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#33768a" d="M0 24V0h30v24z"></path>
  <path fill="#f7cb4f" d="M0 8h30v8H0z"></path>
  <path fill="#000" d="m0 24 14-12L0 0z"></path>
    }
}
