package flags
import "github.com/sebasvil20/templicons/i"

templ Bahrain(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#ea3323" d="M0 24V0h30v24z"></path>
  <path fill="#fff" d="M0 24V0h9l6 2.4-6 2.4 6 2.4-6 2.4 6 2.4-6 2.4 6 2.4-6 2.4 6 2.4L9 24z"></path>
    }
}
