package flags
import "github.com/sebasvil20/templicons/i"

templ Bangladesh(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#2d694f" d="M0 0h30v24H0z"></path>
  <path fill="#e13e47" d="M15 5a7 7 0 1 0 0 14 7 7 0 0 0 0-14"></path>
    }
}
