package flags
import "github.com/sebasvil20/templicons/i"

templ Bolivia(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#f6e54c" d="M0 8h30v8H0z"></path>
  <path fill="#c53a28" d="M30 8H0V0h30z"></path>
  <path fill="#34783a" d="M0 24v-8h30v8z"></path>
    }
}
