package flags
import "github.com/sebasvil20/templicons/i"

templ Chequered(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 0h30v24H0z"></path>
  <path fill="#000" d="M0 0h6v6H0zm6 6h6v6H6zm-6 6h6v6H0zm6 6h6v6H6zm6-6h6v6h-6zm6-6h6v6h-6zm6 6h6v6h-6zm-6 6h6v6h-6zM12 0h6v6h-6zm12 0h6v6h-6z"></path>
    }
}
