package flags
import "github.com/sebasvil20/templicons/i"

templ CostaRica(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#030a85" d="M30 24H0V0h30z"></path>
  <path fill="#fff" d="M30 20H0V4h30z"></path>
  <path fill="#c93927" d="M0 8h30v8H0z"></path>
    }
}
