package flags
import "github.com/sebasvil20/templicons/i"

templ Cuba(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#0c258b" d="M0 24V0h30v24z"></path>
  <path fill="#fff" d="M0 14.5h30V19H0zM0 5h30v4.5H0z"></path>
  <path fill="#bc2b20" d="m0 0 15 12L0 24z"></path>
    }
}
