package flags
import "github.com/sebasvil20/templicons/i"

templ Czechia(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#c62d25" d="M30 24H0V12h30z"></path>
  <path fill="#fff" d="M30 12H0V0h30z"></path>
  <path fill="#1e427b" d="m0 0 15 12L0 24z"></path>
    }
}
