package flags
import "github.com/sebasvil20/templicons/i"

templ DiverDown(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#dc0024" d="M0 24h30V0H0z"></path>
  <path fill="#fff" d="M30 24h-3.2L0 2.56V0h3.2L30 21.44z"></path>
    }
}
