package flags
import "github.com/sebasvil20/templicons/i"

templ England(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 0h30v24H0z"></path>
  <path fill="#be2a2a" d="M30 10H17V0h-4v10H0v4h13v10h4V14h13z"></path>
    }
}
