package flags
import "github.com/sebasvil20/templicons/i"

templ FaroeIslands(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 0h30v24H0z"></path>
  <path fill="#285cb3" d="M30 8H16V0H8v8H0v8h8v8h8v-8h14z"></path>
  <path fill="#dd4446" d="M30 10H14V0h-4v10H0v4h10v10h4V14h16z"></path>
    }
}
