package flags
import "github.com/sebasvil20/templicons/i"

templ Gambia(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M30 16H0V8h30z"></path>
  <path fill="#0a1488" d="M0 9h30v6H0z"></path>
  <path fill="#be2a2c" d="M30 8H0V0h30z"></path>
  <path fill="#487730" d="M30 24H0v-8h30z"></path>
    }
}
