package flags
import "github.com/sebasvil20/templicons/i"

templ Germany(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#cc2b1d" d="M0 8h30v8H0z"></path>
  <path fill="#000" d="M30 8H0V0h30z"></path>
  <path fill="#f8d147" d="M30 24H0v-8h30z"></path>
    }
}
