package flags
import "github.com/sebasvil20/templicons/i"

templ Guyana(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#4a926d" d="M0 0h30v24H0z"></path>
  <path fill="#fff" d="m0 24 30-12L0 0z"></path>
  <path fill="#f6c644" d="M0 23V1l27.3 11z"></path>
  <path fill="#000" d="m0 24 14-12L0 0z"></path>
  <path fill="#b02d30" d="M0 1.25v21.5L12.46 12z"></path>
    }
}
