package flags
import "github.com/sebasvil20/templicons/i"

templ Indonesia(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 24V0h30v24z"></path>
  <path fill="#ea3323" d="M30 12H0V0h30z"></path>
    }
}
