package flags
import "github.com/sebasvil20/templicons/i"

templ Ireland(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M10 0h10v24H10z"></path>
  <path fill="#479a67" d="M0 24V0h10v24z"></path>
  <path fill="#ef8f4e" d="M20 24V0h10v24z"></path>
    }
}
