package flags
import "github.com/sebasvil20/templicons/i"

templ IvoryCoast(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M9 0h12v24H9z"></path>
  <path fill="#e88732" d="M0 24V0h10v24z"></path>
  <path fill="#479d66" d="M20 24V0h10v24z"></path>
    }
}
