package flags
import "github.com/sebasvil20/templicons/i"

templ Japan(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 0h30v24H0z"></path>
  <path fill="#ae232f" d="M15 6a6 6 0 1 0 0 12 6 6 0 0 0 0-12"></path>
    }
}
