package flags
import "github.com/sebasvil20/templicons/i"

templ Latvia(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 9h30v6H0z"></path>
  <path fill="#922a35" d="M30 9H0V0h30zm0 15H0v-9h30z"></path>
    }
}
