package flags
import "github.com/sebasvil20/templicons/i"

templ Luxembourg(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 8h30v8H0z"></path>
  <path fill="#dd4446" d="M30 8H0V0h30z"></path>
  <path fill="#4aa2dc" d="M30 24H0v-8h30z"></path>
    }
}
