package flags
import "github.com/sebasvil20/templicons/i"

templ Madagascar(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#e65143" d="M30 12H12V0h18z"></path>
  <path fill="#3a8343" d="M30 24H12V12h18z"></path>
  <path fill="#fff" d="M0 24V0h12v24z"></path>
    }
}
