package flags
import "github.com/sebasvil20/templicons/i"

templ Maldives(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#c22b38" d="M0 0h30v24H0z"></path>
  <path fill="#377d40" d="M5 5h20v14H5z"></path>
  <path fill="#fff" d="M14.22 12a3.6 3.6 0 0 1 2.9-3.51 3.58 3.58 0 1 0 0 7.03 3.6 3.6 0 0 1-2.9-3.52"></path>
    }
}
