package flags
import "github.com/sebasvil20/templicons/i"

templ Mauritius(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#4aa459" d="M0 24v-6h30v6z"></path>
  <path fill="#f8d849" d="M0 12h30v6H0z"></path>
  <path fill="#d83b3f" d="M30 6H0V0h30z"></path>
  <path fill="#151a69" d="M0 6h30v6H0z"></path>
    }
}
