package flags
import "github.com/sebasvil20/templicons/i"

templ Monaco(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M30 24H0V0h30z"></path>
  <path fill="#be2a2c" d="M30 12H0V0h30z"></path>
    }
}
