package flags
import "github.com/sebasvil20/templicons/i"

templ Niger(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 7h30v10H0z"></path>
  <path fill="#d05b26" d="M30 8H0V0h30z"></path>
  <path fill="#50af3f" d="M30 24H0v-8h30z"></path>
  <path fill="#d05b26" d="M15 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6"></path>
    }
}
