package flags
import "github.com/sebasvil20/templicons/i"

templ Palau(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#4498f7" d="M0 0h30v24H0z"></path>
  <path fill="#ffff54" d="M13 6a6 6 0 1 0 0 12 6 6 0 0 0 0-12"></path>
    }
}
