package flags
import "github.com/sebasvil20/templicons/i"

templ Palestine(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#fff" d="M0 8h30v8H0z"></path>
  <path fill="#000" d="M30 8H0V0h30z"></path>
  <path fill="#429543" d="M30 24H0v-8h30z"></path>
  <path fill="#da403e" d="M0 24V0l14 12z"></path>
    }
}
