package flags
import "github.com/sebasvil20/templicons/i"

templ Peru(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#cb2e40" d="M0 24V0h30v24z"></path>
  <path fill="#fff" d="M10 0h10v24H10z"></path>
    }
}
