package flags
import "github.com/sebasvil20/templicons/i"

templ Rainbow(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#ff9800" d="M0 4h30v4H0z"></path>
  <path fill="#e80000" d="M0 0h30v4H0z"></path>
  <path fill="#fff000" d="M0 8h30v4H0z"></path>
  <path fill="#028c24" d="M0 12h30v4H0z"></path>
  <path fill="#0056ff" d="M0 16h30v4H0z"></path>
  <path fill="#820093" d="M0 20h30v4H0z"></path>
    }
}
