package flags
import "github.com/sebasvil20/templicons/i"

templ SaintLucia(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#81cbfa" d="M0 0h30v24H0z"></path>
  <path fill="#fff" d="m15 3 7.28 18L15 19.28 7.72 21z"></path>
  <path fill="#000" d="m15 5.43 5.6 13.85H9.4z"></path>
  <path fill="#f4d24b" d="m15 12 7.28 9H7.72z"></path>
    }
}
