package flags
import "github.com/sebasvil20/templicons/i"

templ Sealand(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#ed2939" d="M30 0H0v24h30z"></path>
  <path fill="#fff" d="M0 24 30 0v24z"></path>
  <path fill="#2d2c2f" d="M30 8 10 24h20z"></path>
    }
}
