package flags
import "github.com/sebasvil20/templicons/i"

templ SemaphoreSignal(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#ffd622" d="M0 24h30V0H0z"></path>
  <path fill="#e53e46" d="M30 0 0 24V0z"></path>
    }
}
