package flags
import "github.com/sebasvil20/templicons/i"

templ SouthOssetia(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="gold" d="M0 0h30v24H0"></path>
  <path fill="#c10020" d="M0 0h30v16H0"></path>
  <path fill="#fff" d="M0 0h30v8H0"></path>
    }
}
