package flags
import "github.com/sebasvil20/templicons/i"

templ Sweden(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#2e69a4" d="M0 0h30v24H0z"></path>
  <path fill="#f7cf46" d="M30 10H14V0h-4v10H0v4h10v10h4V14h16z"></path>
    }
}
