package flags
import "github.com/sebasvil20/templicons/i"

templ Switzerland(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#c93927" d="M0 0h30v24H0z"></path>
  <path fill="#fff" d="M13 6h4v12h-4z"></path>
  <path fill="#fff" d="M21 10v4H9v-4z"></path>
    }
}
