package flags
import "github.com/sebasvil20/templicons/i"

templ Tatarstan(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="green" d="M30 0H0v11h30z"></path>
  <path fill="#fff" d="M30 11H0v2h30z"></path>
  <path fill="red" d="M30 13H0v11h30z"></path>
    }
}
