package flags
import "github.com/sebasvil20/templicons/i"

templ Ukraine(props ...i.Props) {
    @i.FlagIcon("0 0 30 24", props...) {
        <path fill="#2455b2" d="M30 12H0V0h30z"></path>
  <path fill="#f9da49" d="M30 24H0V12h30z"></path>
    }
}
